[[source]]
url = "https://github.com/Ushrio/NASA_Space_Apps_2022_Backend.git"
verify_ssl = true
name = "NASA Space Apps 2022 Backend"

[packages]
sqlalchemy = "*"
flask = "*"
six = "*"
google-auth = "*"

[dev-packages]

[requires]
python_version = "3.10"
