[[source]]
verify_ssl = true
name = "Surreal"
url = "https://pypi.python.org/simple"

[packages]
flask = "*"
google-auth = "*"
google-cloud-storage = "*"
gunicorn = "*"
python-dotenv = "*"
six = "*"
python-dotenv = "*"
sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.10"
